<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Selenium" parallel="methods" thread-count="2">
    <test name="UltimateQa">
        <classes>
            <class name="lt.irma.pom.tests.ultimateQaTest.UltimateQaHomePageTest"/>
            <class name="lt.irma.pom.tests.ultimateQaTest.UsersSignInTest"/>
            <class name="lt.irma.pom.tests.ultimateQaTest.FillingOutFormSendUsAMessageTest"/>
            <class name="lt.irma.pom.tests.ultimateQaTest.ForgotPasswordTest"/>
        </classes>
    </test>
</suite>